@import '_variables';

/* Write a new tweet container */
.new-tweet{
  width: 100%;
}

.new-tweet h2 {
  margin-block-end: 0px;
}

/* Tweet button and character counter */
.new-tweet div {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.new-tweet button {
  border: none;
  font-family: $logo;
  font-size: 1.25em;
  color: #FFFFFF;
  background-color: $third;
}

.new-tweet button:hover {
  background-color: orangered;
  cursor: pointer;
}

.counter {
  font-family: $logo;
  font-size: 1.25em;
}

/* Tweet textarea */
#tweet-text {
  border: none;
  border-bottom: 2px solid $primary;
  width: 100%;
  height: 1.5em;
  background-color: #f4f1ec;
}

.counter-red {
  color: orangered;
}

.error-section {
  display: flex;
  justify-content: center;
  border: solid;
  padding: 1em;
  color: red;
  text-transform: uppercase;
}

.error-section i {
  padding: 0 1em;
}