/* Top nav bar */
.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
  height: 120px;
  width: 100%;
  background-color: #2460a7;
  color: #FFFFFF;
  position: fixed;
  top: 0;
}

/* Tweeter logo */
.navbar-logo {
  font-family: "Bungee", cursive;
  font-size: 3em;
  color: #FFFFFF;
}

/* Write a tweet and button */
.navbar-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  list-style: none;
}

/* Button style */
.navbar-menu .compose-button {
  border: none;
  background-color: #2460a7;
  cursor: pointer;
}
.navbar-menu .compose-button:hover {
  -webkit-animation: action 0.5s infinite alternate;
  animation: action 0.5s infinite alternate;
}

@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
/* Button color */
.navbar-menu li i {
  color: orangered;
}

@media only screen and (max-width: 520px) {
  .navbar-menu {
    font-size: 1em;
  }
}
