.new-tweet{
  width: 100%;
}

.new-tweet h2 {
  margin-block-end: 0px;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.new-tweet button {
  border: none;
  font-family: 'Bungee', cursive;
  font-size: 1.25em;
  color: #FFFFFF;
  background-color: #85B3D1FF;
}

.new-tweet button:hover {
  background-color: orangered;
}

.counter {
  font-family: 'Bungee', cursive;
  font-size: 1.25em;
}

#tweet-text {
  border: none;
  border-bottom: 2px solid #2460A7FF;
  width: 100%;
  height: 1.5em;
  background-color: #f4f1ec;
}

.counter-red {
  color: orangered;
}

.errorMessage {
  display: flex;
  justify-content: center;
  border: solid;
  padding: 1em;
  color: red;
  text-transform: uppercase;
}